<% communication = @skills.select { |skill| skill.category == "Communication" } %>
<% techologie = @skills.select { |skill| skill.category == "Technologies" } %>
<% soft_skills = @skills.select { |skill| skill.category == "Soft Skills" } %>
<div class="skills-container">
  <div class="container py-3">
    <div class="text-center p-3 my-3 experiences__header" data-aos="fade-right" data-aos-delay="50">Compétences</div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-6 col-10">
        <div class="skills-card p-4">
          <%= image_tag "team_work.svg", alt: "team_work", width: '100%', class: 'skills-card__image mb-3' %>
          <h1>Communication</h1>
          <% communication.each do |skill| %>
            <p><%= skill.name %></p>
          <% end %>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-10">
        <div class="skills-card p-4">
          <%= image_tag "team_connect.svg", alt: "team_work", width: '100%', class: 'skills-card__image mb-3' %>
          <h1>Technologies</h1>
          <% techologie.each do |skill| %>
            <p><%= skill.name %></p>
          <% end %>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-10">
        <div class="skills-card p-4">
          <%= image_tag "gallery.svg", alt: "team_work", width: '100%', class: 'skills-card__image mb-3' %>
          <h1>Soft Skills</h1>
          <% soft_skills.each do |skill| %>
            <p><%= skill.name %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
